.footer {
    background: black;
    font-size: 1.5em;
    color: white;
    height: 209px; 
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
    bottom: -40px;
    left: -100px;
}

.footer-logo {
    filter: brightness(0) invert(1);
    width: 122px;
    margin: 20px 0;
}

@media screen and (max-width: 767px){
    .footer {
        left: -20px;
        font-size: .75em;
    }
}

